@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@100;300&display=swap');
@import url(/css/Index-homepage.css);

@media (max-width:499px){
    /* top part of page */
      .Homepage_Sec {
        width:100%;
        margin-top:40%;
        margin-bottom: 2%;
      }
      
      .Homepage_Content{
        position:relative;
        display:flex;
        flex-direction:row;
      }
      
      .Homepage_Content img {
        width: 100%;
        height: auto;
      }
      
      /* top part of page:welcome to carol house */
      .WCTCH {
        position:absolute;
        height:auto;
        background: rgb(255, 238, 211,0.7);
        padding-right: 3vh;
        width:40%;
        height:100%;
        top:0;
        right:0;
      }
      
      .WCTCH_Element{
        display:flex;
        flex-direction:column;
        margin-top:25%;
        margin-bottom:25%;
      }
      
      /* top part of page:shop now button */
      .Shop_Now {
        width: 60%; 
        height: auto; 
        border-radius: 24vh;
        font-weight: bold;
        font-size: 3vw; 
        line-height: 1;
        text-align: center;
        background-color: #A58172;
        margin-left:10%;
        padding-top:1.25vh;
        padding-bottom:1.25vh;
      }
      
      .Shop_Now a {
        color: #ffffff;
        text-decoration: none;
      }
      
      .Shop_Now:hover {
        color: #ffffff;
        width: 60%; 
        height: auto; 
        border-radius: 24vh;
        background-color: #81675C;
      }
      
      /* Recently viewed section */
      .Recently_Viewed {
        margin-top: 1vh;
        width:100%;
      }
      .Recently_Viewed_Title {
        margin-left:0%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      
      .RV_Images {
        overflow: auto;
        white-space: nowrap;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 2vw;
        margin-top: 1vh;
        padding-bottom: 1vh;
      }
      
      .RV_Images img {
        width: 30vw;
        height: 30vw;
        border-radius: 50%;
      }
      
      /* Hot Deals Section */
      .Hot_Deals {
        position: relative;
        width: 100%;
        margin-top: 1vh;
      }
      
      .Hot_Deals > img {
        position: absolute;
        align-items: center;
        width: 95%; 
        height: auto; 
      }
      
      /* Popular Product Section */
      .Popular_Product {
        position: relative;
        width: 100%;
        margin-top: 1vh;
        overflow:hidden;
      }
      .Popular_Product_Title {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      
      .Product_Info {
        overflow: auto;
        white-space: nowrap;
        display: flex;
        justify-content:flex-start;
        gap: 3vw;
      }
      
      .Product_Small {
        width: 30vw;
        height:60vw;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 5%;
      }
      
      .Rating_Small{
        width:20vw;
        height:auto;
      }
      
      .Rating_Small img{
        width:100%;
      }
      
      .Product_Image_Detail img {
        width:30vw;
        height:30vw;
        height: auto;
      }
      
      .Product_Title_Small {
        white-space: initial;
        width: 30vw;
        height: 7.5vh;
        overflow: hidden;
        word-break: break-word; /* Add word-break property to allow breaking long words */
        font-family: 'Abhaya Libre';
        font-style: normal;
        font-weight: 700;
        font-size: 2vh;
      }
    
      .See_All_Popular {
        background: none;
        border: none;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 3vw;
        line-height: 30px;
        color: #8C8C8C;
      }
      
      .Product_Price_Small {
        font-family: 'Abhaya Libre';
        font-style: normal;
        font-weight: 700;
        font-size: 1.5vh;
      }
      
      /* Plan by space part */
      .Plan_By_Space {
        position: relative;
        width: 100%;
        margin-top: 2vh;
      }
      
      .Plan_By_Space_Button{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-top:5vh;
      }
      
      .Plan_By_Space_Button > button{
        font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 1.5vh;
      line-height: 1.5vh;
      margin:auto;
      background-color: #FFFFFF;
      border: 1% solid #262626;
      border-radius: 20vh;
      padding: 1vh 1.5vw;
      }
      
      .Plan_By_Space_Button > button:hover{
        background-color: #000000;
        color:#FFFFFF;
      }
      
      .Carousel {
        margin-top:2.5vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .Carousel > img {
        width: 100%;
        height:auto;
      }
      
      /*Visit us part*/
      .Visit_Us {
        display:flex;
        flex-direction: column;
        margin-top: 5vh;
      }
      
      .Visit_Us_Description{
        width:100%;
        height:auto;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: 1.5vh;
        line-height: 1.5vh;
      }

      .Find_Us{
        border:none;
        width:20vw;
        height:3.5vh;
        background: #A58172;
        border-radius: 30px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 1.75vw;
        line-height: 1.75vh;
        text-align: center;
        color: #FFFFFF;
        margin-left:0%;
        margin-top:5%;
      }
      
      .Find_Us:hover{
        background-color: #81675C;
      }
      
      .Visit_Us_Content {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      .Visit_Us_Img > img{
        display:none;
        margin-top:5%;
        margin-right:10%;
        margin-left:15%;
        width:70%;
        height:auto;
      }
      
      .horizontal-line {
        border: none;
        border-top: 1px solid black;
        margin-top: 4vh;
      }
      
      /* Stay In Touch Part */
      .Stay_In_Touch{
        margin-top:2vh;
        display:flex;
        justify-content: center;
        flex-direction: column;
      }
      
      .Stay_In_Touch h4{
        display:flex;
        justify-content: center;
        font-family: 'Inter' sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 2.75vh;
        line-height: 2vh;
      }
      
      .Stay_In_Touch .Stay_In_Touch_Description{
        display:flex;
        justify-content: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 300;
        font-size: 2vh;
        line-height: 2vh;
      }
      
      .SIT_Button{
        margin-left:10%;
        margin-right:10%;
        display:flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-around;
      }
      
      .SIT_First_Name{
        border:solid 1px;
        background-color: #FFFFFF;
        width: 20vw;
        height: 3.5vh;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 300;
        font-size: 1vh;
        line-height: 2vh;
      }
      
      .SIT_Email{
        border:solid 1px;
        background-color: #FFFFFF;
        width: 20vw;
        height: 3.5vh;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 300;
        font-size: 1vh;
        line-height: 2vh;
      }
      
      .SIT_Sign_Up{
        border:solid 1px;
        border-color:#FFFFFF;
        background-color: #000000;
        color:white;
        width: 20vw;
        height: 3.5vh;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 300;
        font-size: 1vh;
        line-height: 2vh;
      }
      }