@import url(nav.css);
@import url(footer.css);
*{padding: 0;margin: 0;font-family:'inter';font-weight: bold;}
li{list-style: none;}
a{text-decoration: none;}
* {
    outline: 1px solid red;
  }
body{
    font-size: 20px;
}
.selected-show{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.selected-show ul{
    width: 35vw;
    display: flex;
    justify-content: space-between;
}
.selected-show ul li{
    box-shadow: 0px 0px 6px #8181815d;
    border-radius: 50%;
    overflow: hidden;
}
.selected-show ul li button[type=button]{
    width: 6vw;
    height: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
}
.selected-show ul li:nth-child(3){
    background-color: #69342997;
}
.selected-show ul li button[type=button] img{
    width: 60%;
    height: 60%;
    object-fit: cover;
}
.main-show{
    width: 86%;
    height: 200vh;
    margin: 0 auto;
    display: flex;
}
.left-show{
    width: 24%;
    height: 100%;
}
.right-show{
    width: 80%;
    height: 100%;
    margin-left: 5vw;
}
.left-type-top{
    display: flex;
}
.left-type-top img{
    height: 15px;
    width: 15px;
    object-fit: cover;
    transform: rotate(-90deg);
    margin-top: 5px;
    margin-right: .3vw;
}
.left-type ul{
    width: 18vw;
    font-size: 18px;
    color: #727070;
    display: none;
    animation: drop .3s ease-in;
}
@keyframes drop {
    0%{
        opacity: 0;
        transform: translateY(-10%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.left-type ul li{
    width: 18vw;
    display: flex;
    align-items: center;
    margin-top: .5vh;
    padding-left: .6vw;
    box-sizing: border-box;
    position: relative;
}
.left-type ul li span{
    position: absolute;
    right: 0;
}
.left-type ul li button{
    background-image: url(../images/selected.png);
    background-size: cover;
    width: 1vw;
    height: 1vw;
    border: 1px solid transparent;
    background-color: transparent;
}
.left-type ul li label{
    margin-left: .2vw;
    padding: 0 .4vw;
}
.items-ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 4vw;
}
.right-show .items-ul:nth-child(1){
    margin-top: 0;
}
.item{
    height: 60vh;
    box-shadow: 0px 0px 7px rgba(99, 99, 99, 0.2);
    border-radius: 20px;
    padding-left: 2vw;
    position: relative;
}
.items-ul .item img{
    margin-right: 4vw;
    object-fit: cover;
}
.item h4{
    font-size: 24px;
    margin-top: 2vw;
}
.item .caption{
    color: #606060;
    margin-top: 1vw;
}
.item .price{
    color:rgb(100, 52, 34);
    margin-top: 2vw;
    font-size: 24px;
    position: absolute;
    bottom: 10%;
}
.user-operation {
    width: 2vw;
    position: absolute;
    top: 0;
    right: 2vw;
}
.user-operation button{
    margin-top: 1vw;
    cursor: pointer;
}
.item .user-operation button[type=button]{
    border: 1px solid transparent;
    background-color: transparent;
}
.user-operation button[type=button] img{
    width: 2vw;
    height: 2vw;
}
.price span{
    color: #72707047;
    position: relative;
    text-decoration: none;
    margin-right: 2vw;
}
.price span::after {
  content: "";
  position: absolute;
  left: -25%;
  bottom: 50%;
  width: 150%;
  height: 1px;
  background-color: #72707047;
  transform: translateY(50%);
}