body{
    background: #FFFFFF;
}

@media (min-width: 1001px){
.See_All {
    margin-right:5%;
    background: none;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    line-height: 30px;
    color: #8C8C8C;
    }

  h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 4vw;
    line-height: 4vw;
    color: #795D36;
    margin-top: 1vh;
    margin-bottom: 15px;
    margin-left:10%;
  }
  
  h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 2.5vw;
    line-height: 1;
    color: #795D36;
    margin-top: 2vh;
    margin-bottom: 0;
    margin-left:10%;
  }
  
  h3 {
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 700;
    font-size: 2vw;
    line-height: 20px;
    color: #262626;
  }
}

@media (min-width:500px) and (max-width: 1000px){
    .See_All{
        margin-right:5%;
        background: none;
        border: none;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 2vw;
        line-height: 30px;
        color: #8C8C8C;
      }
    
      h1 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 5vw;
        line-height: 1;
        color: #795D36;
        margin-top: 2vh;
        margin-bottom: 2vh;
        margin-left:10%;
      }
      
      h2 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 4vw;
        line-height: 1;
        color: #795D36;
        margin-bottom: 0;
        margin-left:10%;
      }
      
      h3 {
        font-family: 'Abhaya Libre';
        font-style: normal;
        font-weight: 700;
        font-size: 4vw;
        line-height: 20px;
        color: #262626;
      }

}

@media (max-width: 499px){
    .See_All{
        background: none;
        border: none;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 3vw;
        line-height: 30px;
        color: #8C8C8C;
      }
    
      h1 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 7vw;
        line-height: 1;
        color: #795D36;
        margin-top: 0.1vh;
        margin-bottom: 0.1vh;
        margin-left:10%;
      }
      
      h2 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 5vw;
        line-height: 5vw;
        color: #795D36;
      }
      
      h3 {
        font-family: 'Abhaya Libre';
        font-style: normal;
        font-weight: 700;
        font-size: 5vw;
        line-height: 20px;
        color: #262626;
      }

}