nav {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #ffffff; 
  z-index: 9999; 
}
nav > .Website_Icon {
  padding-top: 1%;
  width: 20%;
  height: auto;
  margin-left: 5%;
  margin-right: 3%;
}

nav > .Website_Icon > a> img {
  width: 100%;
  height: auto;
  max-width: 20vw; 
  max-height: 20vw; 
}

.search-bar {
  margin-left: 3%;
  margin-right: 5%;
  background-color: #F5F5F5;
  border-radius: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.5vh;
  width: 60%;
  padding: 0 2%;
}

.search-bar::placeholder {
  font-size: 1.5vh;
}

.search-input {
  border: none;
  background-color: transparent;
  font-size: 2vh;
  color: #333;
  flex: 1;
  outline: none;
}

.search-icon {
  width: 2vh;
  height: 2vh;
  margin-right: 1vw;
  user-select: none;
}

nav .nav_icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: 5%;
  width: 15vw;
  height: 5vh;
  top: 1vh;
}

.nav_icons img {
  width: 2.4vh;
  height: 2.4vh;
}
