@media (min-width: 1001px){
    footer{
        margin-top:10vh;
        padding-top: 10vh;
        height: 60vh;
        background-color: black;
       }
       footer .Text{
        font-family: 'Roboto';
        margin: 0 auto;
        display:flex;
        width: 60%;
        flex-direction:row;
        justify-content: space-around;
        font-style: normal;
        font-weight: 400;
        font-size: 1.5vh;
        line-height: 2vh;
        color:white;
       }
       
       footer h5{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 2vh;
        line-height: 3vh;
        color:white;
        position: relative;
        margin-bottom: 3vh;
       }
       footer .Text h5::after{
       content: "";
       position: absolute;
       bottom: -1vh;
       left: 0;
       height: .2vw;
       width: 10vw;
       background-color: #6c6c6c;
       border-radius: .1vw;
       }
       footer p{
           margin-bottom: 1vh;
       }
       .Bottom_Part_Footer{
        margin-top:10vh;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
       }
       .Brand_Name{
        margin-left:5%;
       }
       
       .Pay_Method{
        margin-right:5%;
       }
}

@media (min-width:500px) and (max-width: 1000px){
    footer{
        margin-top:2.5vh;
        background-color: black;
    }
    .Text{
        display:flex;
        flex-direction:row;
        justify-content: space-around;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 1vh;
        line-height: 1vh;
        color:white;
    }
    
    h5{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 1.25vh;
        line-height: 1.25vh;
        color:white;
    }
    
    .Bottom_Part_Footer{
        margin-top:3vh;
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .Brand_Name{
        margin-left:5%;
    }
    
    .Pay_Method{
        margin-left:30%;
        margin-top:10%;
        width:100%;
    }
    .Pay_Method img{
        width:70%;
        height:auto;
    }
}

@media (max-width: 499px){
    footer{
        margin-top:10vh;
        background-color: black;
    }
    .Text{
        display:flex;
        flex-direction:row;
        justify-content: space-around;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 1vh;
        line-height: 1.2vh;
        color:white;
    }
    
    h5{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 1.5vh;
        line-height: 1.5vh;
        color:white;
    }
    
    .Bottom_Part_Footer{
        margin-top:2vh;
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .Brand_Name{
        margin-left:5%;
    }
    
    .Pay_Method{
        display:none;
        margin-top:10%;
        margin-left:30%;
        width:100%;
    }
    .Pay_Method img{
        width:70%;
        height:auto;
    }

}