@media (min-width: 1001px) {
  /*nav bar*/
  nav {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    /*make sure it stay on top*/
    z-index: 9999;
  }
  /*carolhouse icon*/
  nav > .Website_Icon {
    padding-top: 1%;
    width: 20%;
    height: auto;
    margin-left: 5%;
    margin-right: 3%;
  }
  /*carolhouse icon*/
  nav > .Website_Icon > a> img {
    width: 100%;
    height: auto;
    max-width: 20vw; 
    max-height: 20vw; 
  }
  /*search bar*/
  .search-bar {
    margin-left: 3%;
    margin-right: 5%;
    background-color: #F5F5F5;
    border-radius: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5vh;
    width: 60%;
    padding: 0 2%;
  }
  /*search bar text*/
  .search-bar::placeholder {
    display:flex;
    justify-content: flex-start;
    font-size: 1.5vh;
  }
  /*search bar text enter*/
  .search-input {
    border: none;
    background-color: transparent;
    font-size: 2vh;
    color: #333;
    flex: 1;
    outline: none;
  }
  /*search bar icon*/
  .search-icon {
    width: 2vh;
    height: 2vh;
    margin-right: 1vw;
    user-select: none;
  }
  /*icons*/
  nav .nav_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: 5%;
    width: 15vw;
    height: 5vh;
    top: 1vh;
  }
  
  .nav_icons img {
    width: 2.4vh;
    height: 2.4vh;
  }
  
}

@media (min-width:500px) and (max-width: 1000px){
  nav {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 9999;
  }
  
  nav > .Website_Icon {
    width: 50%;
    height: auto;
    margin-left: 5%;
    margin-right: 0%;
    margin-bottom:10%;
  }
  
  nav > .Website_Icon > a > img {
    width: 100%;
    height: auto;
    max-width: 30vw;
  }
  
  .search-bar {
    margin-bottom: 5%;
    background-color: #F5F5F5;
    border-radius: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5vh;
    width: 90%;
    padding: 0 2%;
    position: absolute;
    bottom: 0;
  }
  
  .search-bar::placeholder {
    font-size: 1.5vh;
  }
  
  .search-input {
    border: none;
    background-color: transparent;
    font-size: 2vh;
    color: #333;
    flex: 1;
    outline: none;
  }
  
  .search-icon {
    width: 2vh;
    height: 2vh;
    margin-right: 1vw;
    user-select: none;
  }
  
  nav .nav_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: 5%;
    width: 35vw;
    height: auto;
    margin-bottom: 10%;
  }

  nav .nav_icons img{
    width:70%;
  }
}

@media (max-width: 499px){
  nav {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 9999;
  }
  
  nav > .Website_Icon {
    width: 50%;
    height: auto;
    margin-left: 5%;
    margin-right: 0%;
    margin-bottom:2%;
  }
  
  nav > .Website_Icon > a > img {
    width: 80%;
    height: auto;
    max-width: 50vw;
  }
  
  .search-bar {
    margin-bottom: 2%;
    background-color: #F5F5F5;
    border-radius: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5vh;
    width: 90%;
    padding: 0 2%;
    position: absolute;
    bottom: 0;
  }
  
  .search-bar::placeholder {
    font-size: 1.5vh;
  }
  
  .search-input {
    border: none;
    background-color: transparent;
    font-size: 2vh;
    color: #333;
    flex: 1;
    outline: none;
  }
  
  .search-icon {
    width: 2vh;
    height: 2vh;
    margin-right: 1vw;
    user-select: none;
  }
  
  nav .nav_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    width: 40vw;
    height: auto;
    margin-bottom: 2%;
  }

  nav .nav_icons img{
    width:50%;
  }
}