@import url("Index-for-entering.css");
/*PC version*/
@media (min-width: 1201px){
  body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left:35%;
    margin-right:35%;
  }
/*Sections layout*/
  .Card_Num_Sec,
  .Card_Holder_Sec,
  .CVV_Sec,
  .ED_Sec {
      margin-top: 1vh;
      display: flex;
      flex-direction: column;
  }
/*Sections layout*/
  .Card_Number,
  .Card_Holder,
  .CVV,
  .ED1,
  .ED2 {
      border: 0.5px solid #000000;
      padding: 0.75vw;
      border-radius: 2vh;
  }
  /*Expire date*/
  .ED_Enter {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 1vw;
  }
  
  .Card_Num_Sec,
  .Card_Holder_Sec,
  .CVV_Sec,
  .ED_Sec,
  .ED1,
  .ED2 {
      flex: 1;
  }

  /*Expire date layout*/
  .ED_Enter {
      flex: 2;
  }
  /*Button go back*/
.NA_Button {
    display: flex;
    margin-top: 20%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .NA_Button img {
    vertical-align: middle;
  }
  
  .NA_Button a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 2vh;
    line-height: 2vh;
    color: #000000;
    width:auto;
  }
  /*Button continue*/
  .NA_Continue {
    width: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
    background: #000000;
    border-radius: 3vh;
    margin-left:12vw;
  }
  
  .NA_Continue a {
    color: #FFFFFF;
  } 
}
/*ipad version*/
@media (min-width:400px) and (max-width: 1200px){
  body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left:5%;
    margin-right:5%;
  }

  .Card_Num_Sec,
  .Card_Holder_Sec,
  .CVV_Sec,
  .ED_Sec {
      margin-top: 1vh;
      display: flex;
      flex-direction: column;
  }
  
  .Card_Number,
  .Card_Holder,
  .CVV,
  .ED1,
  .ED2 {
      border: 0.5px solid #000000;
      padding: 1vw;
      border-radius: 2vh;
  }
  
  .ED_Enter {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 1vw;
  }
  
  .Card_Num_Sec,
  .Card_Holder_Sec,
  .CVV_Sec,
  .ED_Sec,
  .ED1,
  .ED2 {
      flex: 1;
  }
  
  .ED1,.ED2{
    flex:2;
  }

.NA_Button {
    display: flex;
    margin-top: 20%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .NA_Button img {
    vertical-align: middle;
    width:25%;
  }
  
  .NA_Button a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.5vh;
    line-height: 1.5vh;
    color: #000000;
    width:auto;
  }
  
  .NA_Continue {
    display:inline-block;
    border:0.5px solid black;
    padding: 2vw 4vw;
    background: #000000;
    border-radius: 3vh;
    margin-left:auto;
    align-items: center;
  }
  
  .NA_Continue a {
    font-size:0.8em;
    color: #FFFFFF;
  } 
}
/*mobile version*/
@media (max-width: 399px){
  body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left:1%;
    margin-right:1%;
  }

  .Card_Num_Sec,
  .Card_Holder_Sec,
  .CVV_Sec,
  .ED_Sec {
      margin-top: 1vh;
      display: flex;
      flex-direction: column;
  }
  
  .Card_Number,
  .Card_Holder,
  .CVV,
  .ED1,
  .ED2 {
      border: 0.5px solid #000000;
      padding: 3vw;
      border-radius: 2vh;
  }
  
  .ED_Enter {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 1vw;
  }
  
  .Card_Num_Sec,
  .Card_Holder_Sec,
  .CVV_Sec,
  .ED_Sec,
  .ED1,
  .ED2 {
      flex: 1;
  }
  
  .ED1,
  .ED2 {
    border: 0.5px solid #000000;
    padding: 1.5vw;
    border-radius: 2vh;
    flex: 1;
    max-width: 45%;
  }

.NA_Button {
    display: flex;
    margin-top: 20%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .NA_Button img {
    vertical-align: middle;
    width:25%;
  }
  
  .NA_Button a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.5vh;
    line-height: 1.5vh;
    color: #000000;
    width:auto;
  }
  
  .NA_Continue {
    display:inline-block;
    border:0.5px solid black;
    padding: 2vw 4vw;
    background: #000000;
    border-radius: 3vh;
    margin-left:auto;
    align-items: center;
  }
  
  .NA_Continue a {
    font-size:0.8em;
    color: #FFFFFF;
  } 

}