@media (min-width:1001px){
main {
  margin: 16vh 20vh;
}

.mainimg {
  display: flex;
}

.mainimg .img1 {
  flex: 60%;
}

.mainimg .desc {
  flex: 40%;
  padding-left: 20vh;
  margin: auto auto;
}

.mainimg .desc p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 2vh;
  line-height: 1vh;
  letter-spacing: 2px;
  color: #8C8C8C;
  padding: 0;
}

.mainimg .desc h1 {
  width: 50vh;
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 6vh;
  line-height: 6vh;
  color: #262626;
  margin-bottom: 6vh;
}

.mainimg .desc span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 4vh;
  line-height: 3vh;
  color: #262626;
}

.mainimg .desc .black {
  font-weight: 500;
  font-size: 3.5vh;
  line-height: 3vh;
  text-decoration-line: line-through;
  color: #8C8C8C;
  padding-right: 1.5vh;
}

.mainimg .desc .button {
  margin-top: 5vh;
  width: 26vh;
  height: 5vh;
  background: #A58172;
  border-radius: 36px;
  text-align: center;
  line-height: 5vh;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 2vh;
  color: #FFFFFF;
}

.mainimg .desc .button img {
  width: 3vh;
  vertical-align: middle;
}

.process {
  margin-top: 10vh;
  margin-left: 14vh;
  height: 1vh;
  width: 62vh;
  background: #F0F0F0;
  border-radius: 15px;
}

.process div {
  width: 20vh;
  height: 1vh;
  background: #262626;
  border-radius: 15px;
}

/* 下拉菜单 */
.select-menu {
  margin-top: 14vh;
  cursor: pointer;
  position: relative;
}

.select-menu .select {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #B8B8B8;
  position: relative;
  padding-bottom: 1.5vh;
}

.select-menu .select .downafter img {
  width: 6vh;
}

.select-menu .select span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 2.5vh;
  line-height: 6vh;
  color: #262626;
  padding-left: 3vh;
}

.select-menu .select .down {
  position: absolute;
  right: 0;
  line-height: 6vh;
}

.select-menu .select .down .down1 {
  width: 4vh;
}


.options-desc {
  position: absolute;
  width: 100%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 2vh;
  line-height: 5vh;
  color: #8C8C8C;
  padding-left: 9vh;
  overflow-y: auto;
  transition: 0.2s linear 0.2s;
  height: 0;
}

.options-desc.active {
  min-height: 10vh;
}

.select-menu-two {
  cursor: pointer;
  position: relative;
  margin-top: 5vh;
}

.select-menu-two .select-two {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #B8B8B8;
  position: relative;
  padding-bottom: 1.5vh;
}

.select-menu-two .select-two .downafter img {
  width: 6vh;
}

.select-menu-two .select-two span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 2.5vh;
  line-height: 6vh;
  color: #262626;
  padding-left: 3vh;
}

.select-menu-two .select-two .down {
  position: absolute;
  right: 0;
  line-height: 6vh;
}

.select-menu-two .select-two .down .down1 {
  width: 4vh;
}


.options-desc-two {
  position: absolute;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 2vh;
  line-height: 5vh;
  color: #8C8C8C;
  padding-left: 9vh;
  overflow-y: auto;
  transition: 0.2s linear 0.2s;
  height: 0;
}

.options-desc-two.active {
  height: 10vh;
}

.select-menu-three {
  cursor: pointer;
  position: relative;
  margin-top: 5vh;
}

.select-menu-three .select-three {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #B8B8B8;
  position: relative;
  padding-bottom: 1.5vh;
}

.select-menu-three .select-three .downafter img {
  width: 6vh;
}

.select-menu-three .select-three span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 2.5vh;
  line-height: 6vh;
  color: #262626;
  padding-left: 3vh;
}

.select-menu-three .select-three .down {
  position: absolute;
  right: 0;
  line-height: 6vh;
}

.select-menu-three .select-three .down .down1 {
  width: 4vh;
}


.options-desc-hhree {
  position: absolute;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 2vh;
  line-height: 5vh;
  color: #8C8C8C;
  padding-left: 9vh;
  overflow-y: auto;
  transition: 0.2s linear 0.2s;
  height: 0;
}

.options-desc-three.active {
  height: 10vh;
}

.select-menu-four {
  cursor: pointer;
  position: relative;
  margin-top: 5vh;
}

.select-menu-four .select-four {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #B8B8B8;
  position: relative;
  padding-bottom: 1.5vh;
}

.select-menu-four .select-four .downafter img {
  width: 6vh;
}

.select-menu-four .select-four span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 2.5vh;
  line-height: 6vh;
  color: #262626;
  padding-left: 3vh;
}

.select-menu-four .select-four .down {
  position: absolute;
  right: 0;
  line-height: 6vh;
}

.select-menu-four .select-four .down .down1 {
  width: 4vh;
}


.options-desc-four {
  position: absolute;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 2vh;
  line-height: 5vh;
  color: #8C8C8C;
  padding-left: 9vh;
  overflow-y: auto;
  transition: 0.2s linear 0.2s;
  height: 0;
}

.options-desc-four.active {
  height: 10vh;
}

.pinfen {
  width: 80%;
  margin: 10vh auto;
  display: flex;
}

.score {
  box-sizing: border-box;
  width: 30vh;
  height: 30vh;
  background: #F5F5F5;
  border-radius: 12px;
  margin: 10vh 10vh;
  text-align: center;
  padding-top: 8vh;
  font-size: 4vh;
}

.score span {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 2vh;
  line-height: 2vh;
  color: #8C8C8C;
}

.score .max {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 5vh;
  line-height: 6vh;
  color: #262626;

}

.score .min {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 4vh;
  line-height: 6vh;
  color: #262626;

}


.stars {
  margin: 10vh 10vh;
  line-height: 10vh;
  color: #8C8C8C;
}

.process-min {
  margin-top: -5vh;
  margin-left: 8vh;
  height: 0.3vh;
  width: 35vh;
  background: #F0F0F0;
  border-radius: 15px;

}


.process-min div {
  width: 25vh;
  height: 0.3vh;
  background: #262626;
  border-radius: 15px;
}

.process-min-two {
  margin-top: -5vh;
  margin-left: 8vh;
  height: 0.3vh;
  width: 35vh;
  background: #F0F0F0;
  border-radius: 15px;

}

.process-min-two div {
  width: 20vh;
  height: 0.3vh;
  background: #262626;
  border-radius: 15px;
}

.process-min-three {
  margin-top: -5vh;
  margin-left: 8vh;
  height: 0.3vh;
  width: 35vh;
  background: #F0F0F0;
  border-radius: 15px;

}

.process-min-three div {
  width: 15vh;
  height: 0.3vh;
  background: #262626;
  border-radius: 15px;
}

.process-min-four {
  margin-top: -5vh;
  margin-left: 8vh;
  height: 0.3vh;
  width: 35vh;
  background: #F0F0F0;
  border-radius: 15px;

}

.process-min-four div {
  width: 10vh;
  height: 0.3vh;
  background: #262626;
  border-radius: 15px;
}

.process-min-fish {
  margin-top: -5vh;
  margin-left: 8vh;
  height: 0.3vh;
  width: 35vh;
  background: #F0F0F0;
  border-radius: 15px;

}

.process-min-fish div {
  width: 5vh;
  height: 0.3vh;
  background: #262626;
  border-radius: 15px;
}

.divide {
  position: relative;
}

.divider {
  margin-top: -10vh;
  height: 0.3vh;
  width: 100%;
  background: #F0F0F0;
  border-radius: 15px;

}

.divides {
  position: absolute;
  top: -2vh;
  left: 50%;
  margin-left: -10vh;
  padding: 1vh 3vh;
  border: 1px solid #000000;
  border-radius: 18px;
  color: #000000;
}

.footer-f {
  margin-top: 15vh;
}

.footer-f p {
  display: flex;
  justify-content: space-between;
}

.footer-l {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 6vh;
  line-height: 3vh;
  color: #262626;
}

.footer-r {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 3vh;
  line-height: 1.5vh;
  color: #8C8C8C;
}

.footer-f ul {
  margin-top: 8vh;
  display: flex;
}

.footer-f ul li {
  flex: 1;
  margin: 5vh;
}

.show {
  width: 100%;
}

.footer-f ul p {
  font-family: 'Abhaya Libre';
  font-style: normal;
  font-weight: 700;
  font-size: 2vh;
  line-height: 3vh;
  color: #262626;
}

.footer-f ul span {
  font-family: 'Abhaya Libre';
  font-style: normal;
  font-weight: 700;
  font-size: 2vh;
  line-height: 3vh;
  color: #262626;
}

.footer-f ul .desc-price {
  text-decoration-line: line-through;
  color: #BFBFBF;

}
}

@media (min-width:500px) and (max-width:1000px){
  *{outline: solid 1px red;}
  main{
    width:100%;
    margin-top:40%;
  }
  .mainimg {
    display: flex;
  }
  .img1 {
    width: 50vw;
  }
  .img1 img{
    width:100%;
  }
  
  .mainimg .desc {
    width:40%;
    margin-left: 10vw;
  }
  
  .mainimg .desc p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 2vh;
    line-height: 1vh;
    letter-spacing: 2px;
    color: #8C8C8C;
    padding: 0;
  }
  
  .mainimg .desc h1 {
    width: 25vh;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 4vh;
    line-height: 4vh;
    color: #262626;
    margin-bottom: 4vh;
  }
  
  .mainimg .desc span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 3vh;
    line-height: 3vh;
    color: #262626;
  }
  
  .mainimg .desc .black {
    font-weight: 500;
    font-size: 2.5vh;
    line-height: 3vh;
    text-decoration-line: line-through;
    color: #8C8C8C;
    padding-right: 1.5vh;
  }
  
  .mainimg .desc .button {
    margin-top: 5vh;
    width: 20vh;
    height: 5vh;
    background: #A58172;
    border-radius: 36px;
    text-align: center;
    line-height: 5vh;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.75vh;
    color: #FFFFFF;
  }
  
  .mainimg .desc .button img {
    width: 3vh;
    vertical-align: middle;
  }
  
  .process {
    margin-top: 3.5vh;
    margin-left: 3.5vh;
    height: 1vh;
    width: 30vh;
    background: #F0F0F0;
    border-radius: 15px;
  }
  
  .process div {
    width: 10vh;
    height: 1vh;
    background: #262626;
    border-radius: 15px;
  }
  
  /* 下拉菜单 */
  .select-menu {
    margin-top: 10vh;
    cursor: pointer;
    position: relative;
  }
  
  .select-menu .select {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #B8B8B8;
    position: relative;
    padding-bottom: 1.5vh;
  }
  
  .downafter img {
    width: 4vh;
  }
  
  .select-menu .select span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 2.5vh;
    line-height: 3vh;
    color: #262626;
    padding-left: 3vh;
  }
  
  .down {
    position: absolute;
    right: 0;
    height: 2.5vh;
    width: 3vh;
  }
  .down img{
    width:100%;
  }  

  .options-desc {
    position: absolute;
    width: 100%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 2vh;
    line-height: 5vh;
    color: #8C8C8C;
    padding-left: 9vh;
    overflow-y: auto;
    transition: 0.2s linear 0.2s;
    height: 0;
  }
  
  .options-desc.active {
    min-height: 10vh;
  }
  
  .select-menu-two {
    cursor: pointer;
    position: relative;
    margin-top: 5vh;
  }
  
  .select-menu-two .select-two {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #B8B8B8;
    position: relative;
    padding-bottom: 1.5vh;
  }
  
  .select-menu-two .select-two span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 2.5vh;
    line-height: 3vh;
    color: #262626;
    padding-left: 3vh;
  }
  
  
  .options-desc-two {
    position: absolute;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 2vh;
    line-height: 5vh;
    color: #8C8C8C;
    padding-left: 9vh;
    overflow-y: auto;
    transition: 0.2s linear 0.2s;
    height: 0;
  }
  
  .options-desc-two.active {
    height: 10vh;
  }
  
  .select-menu-three {
    cursor: pointer;
    position: relative;
    margin-top: 5vh;
  }
  
  .select-menu-three .select-three {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #B8B8B8;
    position: relative;
    padding-bottom: 1.5vh;
  }
  
  
  .select-menu-three .select-three span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 2.5vh;
    line-height: 3vh;
    color: #262626;
    padding-left: 3vh;
  }
  
  .options-desc-hhree {
    position: absolute;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 2vh;
    line-height: 5vh;
    color: #8C8C8C;
    padding-left: 9vh;
    overflow-y: auto;
    transition: 0.2s linear 0.2s;
    height: 0;
  }
  
  .options-desc-three.active {
    height: 10vh;
  }
  
  .select-menu-four {
    cursor: pointer;
    position: relative;
    margin-top: 5vh;
  }
  
  .select-menu-four .select-four {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #B8B8B8;
    position: relative;
    padding-bottom: 1.5vh;
  }
  
  .select-menu-four .select-four span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 2.5vh;
    line-height: 3vh;
    color: #262626;
    padding-left: 3vh;
  }

  
  
  .options-desc-four {
    position: absolute;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 2vh;
    line-height: 5vh;
    color: #8C8C8C;
    padding-left: 9vh;
    overflow-y: auto;
    transition: 0.2s linear 0.2s;
    height: 0;
  }
  
  .options-desc-four.active {
    height: 10vh;
  }
  
  .pinfen {
    width: 100%;
    margin-top: 5vh;
    display: flex;
  }
  
  .score {
    box-sizing: border-box;
    width: 40vw;
    height: 40vw;
    background: #F5F5F5;
    border-radius: 12px;
    margin-top:5vh;
    margin-left:2vh;
    text-align: center;
    padding: 3vh;
    font-size: 3vh;
  }
  
  .score span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 2vh;
    line-height: 2vh;
    color: #8C8C8C;
  }
  
  .score .max {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 4vh;
    line-height: 5vh;
    color: #262626;
  
  }
  
  .score .min {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 3vh;
    line-height: 5vh;
    color: #262626;
  
  }
  
  
  .stars {
    margin: 5vh 1vh;
    line-height: 9.5vh;
    color: #8C8C8C;
  }
  .stars span{
    font-size:2vh;
  }
  
  .process-min {
    margin-top: -5vh;
    margin-left: 7.5vh;
    height: 0.3vh;
    width: 30vh;
    background: #F0F0F0;
    border-radius: 15px;
  
  }
  
  
  .process-min div {
    width: 30vh;
    height: 0.3vh;
    background: #262626;
    border-radius: 15px;
  }
  
  .process-min-two {
    margin-top: -5vh;
    margin-left: 7.5vh;
    height: 0.3vh;
    width: 30vh;
    background: #F0F0F0;
    border-radius: 15px;
  
  }
  
  .process-min-two div {
    width: 25vh;
    height: 0.3vh;
    background: #262626;
    border-radius: 15px;
  }
  
  .process-min-three {
    margin-top: -5vh;
    margin-left: 7.5vh;
    height: 0.3vh;
    width: 30vh;
    background: #F0F0F0;
    border-radius: 15px;
  
  }
  
  .process-min-three div {
    width: 15vh;
    height: 0.3vh;
    background: #262626;
    border-radius: 15px;
  }
  
  .process-min-four {
    margin-top: -5vh;
    margin-left: 7.5vh;
    height: 0.3vh;
    width: 30vh;
    background: #F0F0F0;
    border-radius: 15px;
  
  }
  
  .process-min-four div {
    width: 5vh;
    height: 0.3vh;
    background: #262626;
    border-radius: 15px;
  }
  
  .process-min-fish {
    margin-top: -5vh;
    margin-left: 7.5vh;
    height: 0.3vh;
    width: 30vh;
    background: #F0F0F0;
    border-radius: 15px;
  
  }
  
  .process-min-fish div {
    width: 5vh;
    height: 0.3vh;
    background: #262626;
    border-radius: 15px;
  }
  
  .divide {
    position: relative;
  }
  
  .divider {
    margin-top: 5vh;
    height: 0.3vh;
    width: 100%;
    background: #F0F0F0;
    border-radius: 15px;
  
  }
  
  .divides {
    position: absolute;
    top: -2vh;
    left: 50%;
    margin-left: -10vh;
    padding: 1vh 3vh;
    border: 1px solid #000000;
    border-radius: 18px;
    color: #000000;
  }
  
  .footer-f {
    margin-top: 10vh;
  }
  
  .footer-f p {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-l {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 4vh;
    line-height: 3vh;
    color: #262626;
  }
  
  .footer-r {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 2vh;
    line-height: 1.5vh;
    color: #8C8C8C;
  }
  
  .footer-f ul {
    margin-top: 5vh;
    display: flex;
    overflow: hidden;
  }
  
  .footer-f ul li {
    flex: 1;
    margin: 5vh;
  }
  
  .footer-f ul li img{
    width:30vw;
  }

  .show {
    width: 100%;
  }
  
  .footer-f ul img {
    width: 100%;
  }
  
  .footer-f ul p {
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5vh;
    line-height: 2.5vh;
    color: #262626;
  }
  
  .footer-f ul span {
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 700;
    font-size: 2vh;
    line-height: 3vh;
    color: #262626;
  }
  
  .footer-f ul .desc-price {
    text-decoration-line: line-through;
    color: #BFBFBF;
  }
  

  }