@media (min-width:1001px) {
    *{padding: 0;margin: 0;font-family:'inter';font-weight: bold;}
    li{list-style: none;}
    a{text-decoration: none;}
    body{
        font-size: 20px;
    }
    header{
        width: 100%;
        height: 6vh;
        display: flex;
        align-items: center;
    }
    .logo{
        width: 23vw;
        height: 6vh;
        margin-left: 60px;
        box-sizing: border-box;
    }
    .search{
        position: relative;
        display: flex;
        align-items: center;
    }
    .search input[type=text]{
        width: 42vw;
        height: 4vh;
        border-radius: 2vh;
        border: 1px solid transparent;
        background-color: #918e8e57;
        color: #333;
        font-weight: 100;
        text-indent: 3.5em;
        margin-right: 4vw;
    }
    input[type=text]:focus{
        outline: none;
    }
    .search button[type=button]{
        background-image: url(../images/search.png);
        width: 25px;
        height: 25px;
        background-size: cover;
        background-color: transparent;
        border: 1px solid transparent;
        position: absolute;
        left: .4vw;
        cursor: pointer;
    }
    nav ul{
        height:6vh;
        width: 18vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    nav ul li{
        margin-left: 20px;
    }
    nav ul li button[type=button]{
        background-color: transparent;
        border: 1px solid transparent;
    }
    nav ul li button[type=button] img{
        width: 1.5vw;
        height: 1.5vw;
    }
    .selected-show{
        margin-top: 5vh;
    }
    .sucesss-logo{
        width: 15vw;
        height: 15vw;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .selected-show img{
        width: 15vw;
        height: 15vw;
        object-fit: cover;
    }
    .caption{
        width: 20vw;
        height: 20vw;
        text-align: center;
        margin: 0 auto;
        margin-top: 2vw;
    }
    .caption h1{
        font-size: 42px;
        font-weight: 400;
        margin-bottom: 2vw;
    }
    .caption p{
        color: #6c6c6cbd;
        font-weight: 200;
        font-size: 24px;
    }
    .caption p span{
        color: #333;
        font-weight: 200;
        font-size: 24px;
    }
    .button{
        width: 100%;
        height: 6vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        color: white;
        font-size: 16px;
        font-weight: 400;
    }
    .button1{
        margin-top: 8vh;
        background-color: #69342997;
    }
    .button2{
        color: #333;
        margin-top: 2vh;
        background-color: white;
        border: 2px solid #333;
    }    
}
@media(min-width:499px){
*{padding: 0;margin: 0;font-family:'inter';font-weight: bold;}
li{list-style: none;}
a{text-decoration: none;}
body{
    font-size: 10px;
}
header{
    width: 100%;
    height: 6vh;
    display: flex;
    align-items: center;
}
.logo{
    width: 23vw;
    height: 6vh;
    margin-left: 1vw;
    box-sizing: border-box;
}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.search{
    position: relative;
    display: flex;
    align-items: center;
}
.search input[type=text]{
    width: 42vw;
    height: 4vh;
    border-radius: 2vh;
    border: 1px solid transparent;
    background-color: #918e8e57;
    color: #333;
    font-weight: 100;
    text-indent: 3.5em;
    margin-right: 4vw;
}
input[type=text]:focus{
    outline: none;
}
.search button[type=button]{
    background-image: url(../images/search.png);
    width: 25px;
    height: 25px;
    background-size: cover;
    background-color: transparent;
    border: 1px solid transparent;
    position: absolute;
    left: .4vw;
    cursor: pointer;
}
nav ul{
    height:6vh;
    width: 18vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    margin-left: 20px;
}
nav ul li button[type=button]{
    background-color: transparent;
    border: 1px solid transparent;
}
nav ul li button[type=button] img{
    width: 1.5vw;
    height: 1.5vw;
}
.selected-show{
    margin-top: 5vh;
}
.sucesss-logo{
    width: 7.5vw;
    height: 7.5vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
}
.selected-show img{
    width: 7.5vw;
    height: 7.5vw;
    object-fit: cover;
}
.caption{
    width: 20vw;
    height: 20vw;
    text-align: center;
    margin: 0 auto;
    margin-top: 2vw;
}
.caption h1{
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 2vw;
}
.caption p{
    color: #6c6c6cbd;
    font-weight: 200;
    font-size: 12px;
}
.caption p span{
    color: #333;
    font-weight: 200;
    font-size: 12px;
}
.button{
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: white;
    font-size: 8px;
    font-weight: 400;
}
.button1{
    margin-top: 8vh;
    background-color: #69342997;
}
.button2{
    color: #333;
    margin-top: 2vh;
    background-color: white;
    border: 2px solid #333;
}
}
@media (min-width:1001px) {
    *{padding: 0;margin: 0;font-family:'inter';font-weight: bold;}
    li{list-style: none;}
    a{text-decoration: none;}
    body{
        font-size: 20px;
    }
    header{
        width: 100%;
        height: 6vh;
        display: flex;
        align-items: center;
    }
    .logo{
        width: 23vw;
        height: 6vh;
        margin-left: 60px;
        box-sizing: border-box;
    }
    .search{
        position: relative;
        display: flex;
        align-items: center;
    }
    .search input[type=text]{
        width: 42vw;
        height: 4vh;
        border-radius: 2vh;
        border: 1px solid transparent;
        background-color: #918e8e57;
        color: #333;
        font-weight: 100;
        text-indent: 3.5em;
        margin-right: 4vw;
    }
    input[type=text]:focus{
        outline: none;
    }
    .search button[type=button]{
        background-image: url(../images/search.png);
        width: 25px;
        height: 25px;
        background-size: cover;
        background-color: transparent;
        border: 1px solid transparent;
        position: absolute;
        left: .4vw;
        cursor: pointer;
    }
    nav ul{
        height:6vh;
        width: 18vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    nav ul li{
        margin-left: 20px;
    }
    nav ul li button[type=button]{
        background-color: transparent;
        border: 1px solid transparent;
    }
    nav ul li button[type=button] img{
        width: 1.5vw;
        height: 1.5vw;
    }
    .selected-show{
        margin-top: 5vh;
    }
    .sucesss-logo{
        width: 15vw;
        height: 15vw;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .selected-show img{
        width: 15vw;
        height: 15vw;
        object-fit: cover;
    }
    .caption{
        width: 20vw;
        height: 20vw;
        text-align: center;
        margin: 0 auto;
        margin-top: 2vw;
    }
    .caption h1{
        font-size: 42px;
        font-weight: 400;
        margin-bottom: 2vw;
    }
    .caption p{
        color: #6c6c6cbd;
        font-weight: 200;
        font-size: 24px;
    }
    .caption p span{
        color: #333;
        font-weight: 200;
        font-size: 24px;
    }
    .button{
        width: 100%;
        height: 6vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        color: white;
        font-size: 16px;
        font-weight: 400;
    }
    .button1{
        margin-top: 8vh;
        background-color: #69342997;
    }
    .button2{
        color: #333;
        margin-top: 2vh;
        background-color: white;
        border: 2px solid #333;
    }    
}
