/*pc version*/
@media (min-width:1001px) {
    *{padding: 10;margin: 10;}
    li{list-style: none;}
    a{text-decoration: none;}
    body{
        font-size: 20px;
    }
    .selected-show{
        margin-top: 10vh;
    }
    .sucesss-logo{
        width: 15vw;
        height: 15vw;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .selected-show img{
        width: 15vw;
        height: 15vw;
        object-fit: cover;
    }
    .caption{
        width: 20vw;
        height: 20vw;
        text-align: center;
        margin: 0 auto;
        margin-top: 2vw;
    }
    .caption h1{
        font-size: 42px;
        font-weight: 400;
        margin-bottom: 2vw;
    }
    .caption p{
        color: #6c6c6cbd;
        font-weight: 200;
        font-size: 24px;
    }
    .caption p span{
        color: #333;
        font-weight: 200;
        font-size: 24px;
    }
    .button{
        width: 100%;
        height: 6vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        color: white;
        font-size: 16px;
        font-weight: 400;
    }
    .button1{
        margin-top: 5vh;
        background-color: #69342997;
    }
    .button2{
        color: #333;
        margin-top: 1vh;
        background-color: white;
        border: 2px solid #333;
    }    
}

/*ipad*/
@media (min-width:500px) and (max-width:1000px){
    *{padding: 0;margin: 0;}
    li{list-style: none;}
    a{text-decoration: none;}
    
    .selected-show{
        margin-top: 20vh;
    }
    .sucesss-logo{
        width: 35vw;
        height: 35vw;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .selected-show img{
        width: 35vw;
        height: 35vw;
        object-fit: cover;
    }
    .caption{
        width: 80%;
        height: 50vw;
        text-align: center;
        margin: 0 auto;
        margin-top: 2vw;
    }
    .caption h1{
        font-size: 4vh;
        font-weight: 400;
        margin-bottom: 2vw;
    }
    .caption p{
        color: #6c6c6cbd;
        font-weight: 200;
        font-size: 2.5vh;
    }
    .caption p span{
        color: #333;
        font-weight: 200;
        font-size: 2.5vh;
    }
    .button{
        width: 100%;
        height: 6vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        color: white;
        font-size: 2vh;
        font-weight: 400;
    }
    .button1{
        margin-top: 8vh;
        background-color: #69342997;
    }
    .button2{
        color: #333;
        margin-top: 2vh;
        background-color: white;
        border: 2px solid #333;
    }
    }

/*mobile*/
@media(max-width:499px){
*{padding: 0;margin: 0;}
li{list-style: none;}
a{text-decoration: none;}

.selected-show{
    margin-top: 20vh;
}
.sucesss-logo{
    width: 35vw;
    height: 35vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
}
.selected-show img{
    width: 35vw;
    height: 35vw;
    object-fit: cover;
}
.caption{
    width: 80%;
    height: 50vw;
    text-align: center;
    margin: 0 auto;
    margin-top: 2vw;
}
.caption h1{
    font-size: 4vh;
    font-weight: 400;
    margin-bottom: 2vw;
}
.caption p{
    color: #6c6c6cbd;
    font-weight: 200;
    font-size: 2.5vh;
}
.caption p span{
    color: #333;
    font-weight: 200;
    font-size: 2.5vh;
}
.button{
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: white;
    font-size: 2vh;
    font-weight: 400;
}
.button1{
    margin-top: 8vh;
    background-color: #69342997;
}
.button2{
    color: #333;
    margin-top: 2vh;
    background-color: white;
    border: 2px solid #333;
}
}
